.container-home {
  background-color: var(--cor-v1);
}

.container-carros-home {
  max-width: 1370px;
  padding: 50px;
  margin-left: 15%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.titulo-carros-home {
  text-align: center;
  line-height: 26px;
}

.titulo-carros-home h2 {
  font-family: "Roboto" sans-serif;
  padding-top: 2%;
  font-size: 26px;
}

.carros-home {
  max-width: 263px;
  height: 410px;
  margin: 15px;
  background-color: var(--cor-v0);
}

.carros-home span,
h2,
p {
  padding: 15px;
}

.linha-home {
  margin: -45px 0px;
}

.carros-home img {
  width: 263px;
  height: 202px;
}

.botao-home {
  display: grid;
  width: max-content;
  margin-left: 47%;
  padding-bottom: 5%;
}

.botao-home a {
  background: var(--cor-v9);
  color: var(--cor-v0);
  padding: 18px 70px;
  font-size: 11px;
  border-radius: 5px;
}
