.cor-0 {
  color: var(--cor-v0);
}
.cor-1 {
  color: var(--cor-v1);
}
.cor-2 {
  color: var(--cor-v2);
}
.cor-3 {
  color: var(--cor-v3);
}
.cor-4 {
  color: var(--cor-v4);
}
.cor-5 {
  color: var(--cor-v5);
}
.cor-6 {
  color: var(--cor-v6);
}
.cor-7 {
  color: var(--cor-v7);
}

/* Cores para o futuro */

.cor-8 {
  color: var(--cor-v8);
}
.cor-9 {
  color: var(--cor-v9);
}
.cor-10 {
  color: var(--cor-v10);
}
.cor-11 {
  color: var(--cor-v11);
}
.cor-12 {
  color: var(--cor-v12);
}
.cor-13 {
  color: var(--cor-v13);
}
:root {
  --cor-v0: #ffffff;
  --cor-v1: #eeeeee;
  --cor-v2: #000000;
  --cor-v3: #606062;
  --cor-v4: #2da8dd;
  --cor-v5: #1a476d;
  --cor-v6: #1f2637;
  --cor-v7: #071f39;
  --cor-v8: #00375b;
  --cor-v9: #009cb9;
  --cor-v10: #00a650;
  --cor-v11: #fcff48;
  --cor-v12: #f29f05;
  --cor-v13: #e19405;
}
