.cor-0 {
  color: var(--cor-v0);
}
.cor-1 {
  color: var(--cor-v1);
}
.cor-2 {
  color: var(--cor-v2);
}
.cor-3 {
  color: var(--cor-v3);
}
.cor-4 {
  color: var(--cor-v4);
}
.cor-5 {
  color: var(--cor-v5);
}
.cor-6 {
  color: var(--cor-v6);
}
.cor-7 {
  color: var(--cor-v7);
}
.cor-8 {
  color: var(--cor-v8);
}
.cor-9 {
  color: var(--cor-v9);
}
.cor-10 {
  color: var(--cor-v10);
}
:root {
  --cor-v0: #ffffff;
  --cor-v1: #f2f2f2;
  --cor-v2: #000000;
  --cor-v3: #4d4d4d;
  --cor-v4: #737373;
  --cor-v5: #777777;
  --cor-v6: #999999;
  --cor-v7: #808080;
  --cor-v8: #ed1c24;
  --cor-v9: #ff0000;
  --cor-v10: #333333;
}
