.font-r-300 {
  font: 300 0.75rem/1 "Roboto", sans-serif;
}
.font-r2-300 {
  font: 300 0.875rem/1 "Roboto", sans-serif;
}
.font-r3-300 {
  font: 300 1.25rem/1 "Roboto", sans-serif;
}
.font-r4-300 {
  font: 300 1.5rem/1 "Roboto", sans-serif;
}
.font-r5-300 {
  font: 300 1.625rem/1 "Roboto", sans-serif;
}
.font-r-500 {
  font: 500 0.75rem/1 "Roboto", sans-serif;
}
.font-r1-500 {
  font: 500 1rem/1 "Roboto", sans-serif;
}
.font-r2-500 {
  font: 500 1.5rem/1 "Roboto", sans-serif;
}
.font-r-600 {
  font: 600 1.125rem/1 "Roboto", sans-serif;
}
.font-r2-600 {
  font: 600 1.5rem/1 "Roboto", sans-serif;
}
.font-r-700 {
  font: 700 0.75rem/1 "Roboto", sans-serif;
}
.font-r2-700 {
  font: 700 0.875rem/1 "Roboto", sans-serif;
}
.font-r3-700 {
  font: 700 1.5rem/1 "Roboto", sans-serif;
}
